.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navList{
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 100vw;
  /* background-color: red; */
  justify-content: space-evenly;
  align-items: center;
  
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
}


.EmployeeCard{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn{
  font-size: 30px;
  margin-left: 10px;
  background-color: green;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.employee-card {
  width: 500px;
  background-color: blue; /* Blue color */
  color: white; /* Black text color */
  padding: 0px 15px 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 10px;
}

.employee-card h2 {
  margin-bottom: 10px;
}

.employee-card p {
  margin: 8px 0;
}

.btn{
  border: none;
  padding: 5px 10px 5px 10px;
  width: max-content;
  background-color: blue;
  font-size: smaller;
  margin-top: 10px;
  cursor: pointer;
}

.employee-form{
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.employee-form > label {
  margin-bottom: 20px;
}
.btn-form {
  padding: 5px;
  cursor: pointer;
  width: 100%;
}
.btn-form:hover{
  transform: scale(1.1);
  transition: 100ms;
}

input{
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
}

.active{
  background-color: white;
  color: black;
  border: black solid 1px;
}

.form-btn{
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  background-color: white;
  color: black;
  top: 0;
  right: 5%;
}